@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Epilogue;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 8.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 10.5rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 4.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.5rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.72rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.88rem;
    font-size: calc( 3.59rem + (8.4 - 3.59) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.59rem + (8.4 - 3.59) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.52rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f47458 !important;
}
.bg-success {
  background-color: #96d9d9 !important;
}
.bg-info {
  background-color: #0a2239 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f47458 !important;
  border-color: #f47458 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #f14c28 !important;
  border-color: #f14c28 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f14c28 !important;
  border-color: #f14c28 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f47458 !important;
  border-color: #f47458 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #f14c28 !important;
  border-color: #f14c28 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #f14c28 !important;
  border-color: #f14c28 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0a2239 !important;
  border-color: #0a2239 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #02080e !important;
  border-color: #02080e !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #02080e !important;
  border-color: #02080e !important;
}
.btn-success,
.btn-success:active {
  background-color: #96d9d9 !important;
  border-color: #96d9d9 !important;
  color: #1e5252 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #71cbcb !important;
  border-color: #71cbcb !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1e5252 !important;
  background-color: #71cbcb !important;
  border-color: #71cbcb !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #2e2500 !important;
  background-color: #ffd72e !important;
  border-color: #ffd72e !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd72e !important;
  border-color: #ffd72e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f47458;
  color: #f47458;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background-color: #f47458 !important;
  border-color: #f47458 !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f47458 !important;
  border-color: #f47458 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #f47458;
  color: #f47458;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background-color: #f47458 !important;
  border-color: #f47458 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f47458 !important;
  border-color: #f47458 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0a2239;
  color: #0a2239;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background-color: #0a2239 !important;
  border-color: #0a2239 !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0a2239 !important;
  border-color: #0a2239 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #96d9d9;
  color: #96d9d9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1e5252 !important;
  background-color: #96d9d9 !important;
  border-color: #96d9d9 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1e5252 !important;
  background-color: #96d9d9 !important;
  border-color: #96d9d9 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #121212;
  border-color: #121212;
  color: #fafafa;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #121212;
  background-color: transparent;
  border-color: #121212;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #fafafa;
  border-color: #fafafa;
  color: #121212;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #fafafa;
  background-color: transparent;
  border-color: #fafafa;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background-color: transparent;
  border-color: #121212;
  color: #121212;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #fafafa;
  background-color: #121212;
  border-color: #121212;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background-color: transparent;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #121212;
  background-color: #fafafa;
  border-color: #fafafa;
}
.text-primary {
  color: #f47458 !important;
}
.text-secondary {
  color: #f47458 !important;
}
.text-success {
  color: #96d9d9 !important;
}
.text-info {
  color: #0a2239 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #f47458 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #f47458 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #96d9d9 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0a2239 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffe161 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff9966 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #232323 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f47458;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0a2239;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f47458;
  border-color: #f47458;
  color: #ffffff;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f47458;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #4996df;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f47458 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #f47458;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f47458;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f47458;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f47458;
  border-bottom-color: #f47458;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f47458 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f47458 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f47458' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-suGHH27jf8 {
  background-image: url("../../../assets/images/sndag-hl-sprint-401-1347x898.jpg");
}
.cid-suGHH27jf8 .mbr-text,
.cid-suGHH27jf8 .mbr-section-btn {
  color: #fafafa;
}
.cid-suGHH27jf8 .mbr-text {
  max-width: 500px;
  padding: 0 4rem;
}
@media (max-width: 767px) {
  .cid-suGHH27jf8 .mbr-text {
    padding: 0;
  }
}
.cid-suGHH27jf8 .mbr-section-btn {
  padding: 0 4rem;
  padding-bottom: 8rem;
}
@media (max-width: 767px) {
  .cid-suGHH27jf8 .mbr-section-btn {
    padding: 0;
    padding-bottom: 8rem;
  }
}
.cid-suGHH27jf8 .mbr-section-subtitle {
  color: #121212;
}
.cid-suGHH27jf8 .mbr-iconfont {
  color: #ffffff;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.cid-suGHH27jf8 .icons-wrapper {
  position: absolute;
  display: flex;
  bottom: 4rem;
  width: fit-content;
  left: 4rem;
}
@media (max-width: 767px) {
  .cid-suGHH27jf8 .icons-wrapper {
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.cid-suGHH27jf8 .icon-wrapper {
  position: relative;
  width: 35px;
  cursor: pointer;
  margin: 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.cid-suGHH27jf8 .icon-wrapper:hover .mbr-iconfont {
  color: #f47458;
}
.cid-suGHH27jf8 .mbr-section-title {
  color: #fafafa;
}
.cid-sFSlfhVFVw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #0a2239;
}
@media (max-width: 767px) {
  .cid-sFSlfhVFVw .display-2 {
    font-size: 1.6rem;
  }
}
.cid-sFSlfhVFVw .align-wrapper {
  width: 100%;
}
.cid-sFSlfhVFVw h4 {
  display: inline-block;
  position: relative;
  width: fit-content;
  transition: all 0.3s;
}
.cid-sFSlfhVFVw h4:before {
  position: absolute;
  content: '';
  bottom: -6px;
  width: 0%;
  left: 0;
  height: 2px;
  transition: all 0.3s;
  background: #f47458;
}
.cid-sFSlfhVFVw h4:hover {
  color: #f47458;
}
.cid-sFSlfhVFVw h4:hover:before {
  width: 100%;
}
.cid-sFSlfhVFVw .mbr-section-title {
  color: #fafafa;
}
.cid-sFSlfhVFVw .mbr-section-text,
.cid-sFSlfhVFVw .align-wrapper,
.cid-sFSlfhVFVw .mbr-section-btn {
  color: #121212;
}
.cid-suGOJQ19jV {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #0a2239;
}
.cid-suGOJQ19jV .google-map {
  height: 25rem;
  position: relative;
}
.cid-suGOJQ19jV .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-suGOJQ19jV .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-suGOJQ19jV .google-map[data-state] {
  background: #e9e5dc;
}
.cid-suGOJQ19jV .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-suGOJQ19jV .wrapper {
  margin-top: -10rem;
  background: #0a2239;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  border-radius: 40px;
  border-collapse: separate;
  -webkit-perspective: 1px;
  perspective: 1px;
  overflow: hidden;
}
.cid-suGOJQ19jV .wrapper .row {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 40px;
  border-collapse: separate;
  -webkit-perspective: 1px;
  perspective: 1px;
}
.cid-suGOJQ19jV .wrapper .row .btn {
  border-radius: 30px;
  padding: 0.8rem 3rem !important;
}
.cid-suGOJQ19jV .wrapper .row .title {
  color: #f47458;
}
.cid-suGOJQ19jV .wrapper .form-container {
  padding: 3rem;
  border-radius: 40px;
  border-collapse: separate;
  -webkit-perspective: 1px;
  perspective: 1px;
  overflow: hidden;
}
.cid-suGOJQ19jV .content-panel {
  padding: 3rem;
  background: linear-gradient(45deg, #0a2239, #f47458);
  height: 100%;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cid-suGOJQ19jV .mbr-text {
  color: #efefef;
}
.cid-suGOJQ19jV .form-control {
  border-radius: 10px !important;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  min-height: 40px;
}
.cid-suGOJQ19jV textarea.form-control {
  min-height: 170px;
}
.cid-suGOJQ19jV .social-list {
  margin-top: auto;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.cid-suGOJQ19jV .social-list .mbr-iconfont-social {
  font-size: 1.2rem;
  color: #fff;
}
.cid-suGOJQ19jV .social-list .mbr-iconfont:before {
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 100px;
  border-style: dotted;
}
.cid-suGOJQ19jV .social-list .soc-item {
  margin: 15px 3px 0px 3px;
}
.cid-suGOJQ19jV .social-list a {
  margin: 0;
  opacity: 0.7;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-suGOJQ19jV .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-suGOJQ19jV .container {
    max-width: 80% !important;
  }
  .cid-suGOJQ19jV .wrapper {
    margin-top: 0;
    border-radius: 40px;
  }
  .cid-suGOJQ19jV .wrapper .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-suGOJQ19jV .wrapper .main-row .text-block .content-panel {
    border-radius: 0 0 30px 30px !important;
  }
  .cid-suGOJQ19jV .wrapper .main-row .text-block .content-panel .social-list {
    margin-left: auto;
    margin-right: auto;
  }
  .cid-suGOJQ19jV .form-container {
    border-radius: 30px 30px 0 0 !important;
  }
}
.cid-suGOJQ19jV .wrapper .row .title {
  color: #f47458;
}
